{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        {{template "head" .}}
    </head>
    <body>
        <header>
            {{template "header" .}}
        </header>

        <main>
            {{template "main" .}}
        </main>

        <footer>
            {{template "footer" .}}
        </footer>

        {{template "scripts" .}}
    </body>
</html>
{{end}}